.kooperationen {
    width: 100vw;
    height:100vh;
    background: url('../../../public/images/kooperationen.JPG');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
  
}