body {
  font-family: 'Brandon', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Brandon';
  src: url('./fonts/BrandonGrotesque/HvDTrial_Brandon_Grotesque_regular.otf') format('otf');
}

