.live {
    width: 100vw;
    height:100vh;
    background: url('../../../public/images/live.jpg');
    background-size: cover;
    background-position: center;
   
  
}

.blur {
    height:100%;
    width: 100%;
    backdrop-filter: blur(5px);
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
}